
@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_LayoutIDA.cshtml";
}

<h4>Historico Actividades</h4>

<head>
    <link href="~/Content/Log/Log.css" rel="stylesheet" />
    <script src="~/Scripts/Log/Log.js"></script>
    @*<script src="~/Scripts/jquery.floatThead.min.js"></script>*@
</head>

<body>

    <div ng-app="MyApp" ng-controller="MyController">
             
        @*BUSQUEDA LOG*@
        <div class="accordion" id="accordionExampleUno">
            <div class="card">
                <div class="card-header" id="headingUno">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseUno" aria-expanded="true" aria-controls="collapseUno">
                            <i class="fa fa-money-check-alt fa-lg"></i> Busqueda Historico Actividades
                        </button>
                    </h2>
                </div>

                <div id="collapseUno" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleUno">

                    <div class="container">
                        <div class="row justify-content-md-center">

                            <form role="form" name="formulario" id="formulario" class="">

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="claveCampania">Usuario:</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <input type="text" class="form-control text-uppercase" id="usuarioLog" placeholder="Usuario" name="usuarioLog"
                                               ng-model="Usuario" required>
                                    </div>
                                </div>

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="campania">Fecha Inicio:</label>
                                    &nbsp;
                                    <div class="input-group fecha-custom">
                                        <input type="text" class="form-control fecha fecha-custom-text" id="fechaDocumento" name="fecha"
                                               placeholder="DD/MM/YYYY" ng-model="FechaInicio" value="{{FechaInicio}}"
                                               ng-change="" required readonly />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="fa fa-calendar-alt fa-lg"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="campania">Fecha Final:</label>
                                    &nbsp;&nbsp;
                                    <div class="input-group fecha-custom">
                                        <input type="text" class="form-control fecha fecha-custom-text" id="fechaDocumento" name="fecha"
                                                placeholder="DD/MM/YYYY" ng-model="FechaFinal" value="{{FechaFinal}}"
                                                ng-change="" required readonly />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="fa fa-calendar-alt fa-lg"></i>
                                            </span>
                                        </div>
                                    </div>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" ng-disabled="" title="Buscar Campaña por uno o varios filtros."
                                                ng-click="ObtenerLog(Usuario, FechaInicio, FechaFinal)">
                                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>Buscar
                                        </button>
                                    </div>
                                </div>
                                    

                            </form>

                        </div>
                    </div>

                    

                </div>
            </div>
        </div>

        <br />

        @*INFORMACION LOG*@
        <div class="accordion" id="accordionExampleDos">
            <div class="card">
                <div class="card-header" id="headingDos">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
                            <i class="fa fa-money-check-alt fa-lg"></i> Historico Actividades
                        </button>
                    </h2>
                </div>

                <div id="collapseDos" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleDos">

                    <div>
                        <table class="table">
                            <thead class="thead-light" ng-show="ListLog.length">
                                <tr>
                                    <th>Numero</th>
                                    <th>Usuario</th>
                                    <th>Creado</th>
                                    <th>Modulo</th>
                                    <th>Empresa</th>
                                    <th>Resumen</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in ListLog">
                                    <td>{{d.Id}}</td>
                                    <td>{{d.Usuario}}</td>
                                    <td>{{d.strCreado}}</td>
                                    <td>{{d.Modulo}}</td>
                                    <td>{{d.Empresa}}</td>
                                    <td>{{d.Resumen}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDetalle" ng-click="MostrarDetalle(d)">
                                            <i class="fa fa-list-ul fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <br />

        @*INFORMACION DETALLE LOG*@
        <div class="modal fade" id="myModalDetalle" tabindex="-1" role="document" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" ng-class="">

                    @*Encabezado Modal*@
                    <div class="modal-header">

                        <div class="navbar-header navbar-header-modal row">
                            <img src="~/Imagenes/logoUNAM.png" class="img-rounded img-modal-ppg" alt="Cinque Terre">
                            <h5 id="modalTitle" class="modal-title">Detalle Historico Actividades</h5>
                        </div>

                        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    @*Cuerpo Modal*@
                    <div class="modal-body">
                        @*Formulario*@
                        <form class="form-horizontal">
                                                  
                            <div id="divDetalleTabla" class="col-md-auto table-responsive tabla-height">
                                
                                @*Tabla Detalle Divisa*@
                                <table class="table table-sm table-small-font table-bordered table-striped table-hover">
                                    <thead ng-show="DetalleDivisa.length" class="thead-light">
                                        <tr>
                                            <th>Empresa</th>
                                            <th>Fecha</th>
                                            <th>Valor</th>
                                            <th>Usuario</th>
                                            <th>Creacion</th>
                                        </tr>
                                    </thead>
                                    <tbody class="noMostrarDiv" ng-class="">
                                        <tr ng-repeat="a in DetalleDivisa">
                                            <td>{{a.Empresa}}</td>
                                            <td>{{a.StrFecha}}</td>
                                            <td>{{a.Valor}}</td>
                                            <td>{{a.Usuario}}</td>
                                            <td>{{a.StrCreado}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                @*Tabla Detalle Dinero*@
                                <table class="table table-sm table-small-font table-bordered table-striped table-hover">
                                    <thead ng-show="DetalleDinero.length" class="thead-light">
                                        <tr>
                                            <th>Empresa</th>
                                            <th>Fecha</th>
                                            <th>Valor</th>
                                            <th>Usuario</th>
                                            <th>Creacion</th>
                                        </tr>
                                    </thead>
                                    <tbody class="noMostrarDiv" ng-class="">
                                        <tr ng-repeat="b in DetalleDinero">
                                            <td>{{b.Empresa}}</td>
                                            <td>{{b.StrFecha}}</td>
                                            <td>{{b.Valor}}</td>
                                            <td>{{b.Usuario}}</td>
                                            <td>{{b.StrCreado}}</td>
                                        </tr>
                                    </tbody>
                                </table>                                                       
                                
                                @*Tabla Detalle Capital*@
                                <table id="tablaDetalleCapital" class="table">
                                    <thead ng-show="DetalleCapital.length" class="thead-light">
                                        <tr>
                                            <th>Numero</th>
                                            <th>Rendimiento</th>
                                            <th>Sigma</th>
                                            <th>Empresa</th>
                                            <th>Valor</th>
                                            <th>Usuario</th>
                                            <th>Creado</th>
                                        </tr>
                                    </thead>
                                    <tbody class="noMostrarDiv" style="height:600px;overflow-y:visible">
                                        <tr ng-repeat="c in DetalleCapital">
                                            <td>{{c.Numero}}</td>
                                            <td>{{c.Rendimiento}}</td>
                                            <td>{{c.Sigma}}</td>
                                            <td>{{c.Empresa}}</td>
                                            <td>{{c.Valor}}</td>
                                            <td>{{c.Usuario}}</td>
                                            <td>{{c.StrCreado}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>


                        </form>

                    </div>

                    @*Pie Modal*@
                    <div class="modal-footer div-centrar">
                        <div id="divCerrar" ng-show="" style="display:block !important;">
                            <div class="form-group row">
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="">
                                        <i class="fa fa-window-close-o fa-lg" aria-hidden="true"></i> Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</body>