
@{
    ViewBag.Title = "MercadoDivisa";
    Layout = "~/Views/Shared/_LayoutIDA.cshtml";
}

<h4>Mercado de Divisas</h4>

<head>
    <link href="~/Content/MercadoDivisa/MercadoDivisa.css" rel="stylesheet" />
    <script src="~/Scripts/MercadoDivisa/MercadoDivisa.js"></script>

    <script src="~/Scripts/google-chart.js"></script>
</head>

<body>
    <div ng-app="MyApp" ng-controller="MyController">

        <div class="accordion" id="accordionExampleDos">
            <div class="card">
                <div class="card-header" id="headingDos">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="collapseDos">
                            <i class="fa fa-coins fa-lg"></i> Mercado de Divisas
                        </button>
                    </h2>
                </div>

                <div id="collapseDos" class="collapse show" aria-labelledby="headingDos" data-parent="#accordionExampleDos">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-3" style="background-color: rgba(0, 0, 0, 0.03);">
                                <!--Campo destinado a la obtención de datos, el cliente solicita a través de la lista, las variables que quiere descargar-->
                                <div id="Divisasu1" style="margin-left: 20px;  margin-top: 10px; width:250px; float:left;" align="center">
                                    <p style="font-family: sans-serif">Compara en mercado de Divisas:</p>
                                    @*<asp:ListBox ID="ListDivisas" runat="server">
                                        <asp:ListItem Text="MXN/USD" Value="SF43718"></asp:ListItem>
                                        <asp:ListItem Text="MXN/EUR" Value="SF46410"></asp:ListItem>
                                        <asp:ListItem Text="MXN/JPY" Value="SF46406"></asp:ListItem>
                                        <asp:ListItem Text="MXN/CNY" Value="SF290383"></asp:ListItem>
                                        <asp:ListItem Text="MXN/GBP" Value="SF46407"></asp:ListItem>
                                    </asp:ListBox>*@
                                    <br />
                                    <br />

                                    <span>Fecha Inicial:&nbsp;&nbsp;&nbsp;<asp:TextBox ID="FechaInicioDivisa" runat="server" ReadOnly="false" Width="100px"></asp:TextBox></span>

                                    <div class="input-group fecha-custom">
                                        <input type="text" class="form-control fecha fecha-custom-text" id="fechaDocumento" name="fecha"
                                               placeholder="DD/MM/YYYY" ng-model="FechaInicio" value="{{FechaInicio}}"
                                               ng-change="" required readonly />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="fa fa-calendar-alt fa-lg"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <br />
                                    <span>Fecha Final:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox ID="FechaFinDivisa" runat="server" ReadOnly="false" Width="100px"></asp:TextBox></span>

                                    <div class="input-group fecha-custom">
                                        <input type="text" class="form-control fecha fecha-custom-text" id="fechaDocumento" name="fecha"
                                               placeholder="DD/MM/YYYY" ng-model="FechaFinal" value="{{FechaFinal}}"
                                               ng-change="" required readonly />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="fa fa-calendar-alt fa-lg"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <br />
                                    <br />
                                    <button runat="server" id="btnDivisa" class="btn btn-primary" ng-click="ObtenerEstadistico()">
                                        <i class="fa fa-chart-line fa-lg"></i> Obtener Estadisticas
                                    </button>

                                    <br />
                                    <br />
                                    <a href="@Url.Action("ExportarExcel","MercadoDivisa")" class="btn btn-primary" id="ExportarCronograma">
                                        <i class="fa fa-file-excel fa-lg" aria-hidden="true"></i> Exportar
                                    </a>

                                    <br />
                                    <br />

                                </div>
                            </div>
                            <div class="col-9">
                                <!--El usuario visualiza en esta parte la gráfica en línea de la serie elegida-->
                                <div id="Divisasu2" style="min-width: 800px; float:left; margin-top:10px; margin-left: 45px; margin-right: auto; margin-bottom: auto;" align="center">

                                    <span class="card-title">
                                        <i class="fa fa-chart-area fa-lg"></i> Grafica Divisas
                                    </span>
                                    <br />

                                    <div id="linechart_material"></div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!--Se muestran las estadísticas básicas de la serie económica: media, varianza, etc.-->
                                <div id="Divisasu4" style="background-color:#FFFFFF;" align="center">

                                    <br />

                                    <div>
                                        <table class="table">
                                            <thead class="thead-light" ng-show="ListGraficoLinea.length">
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="d in ListGraficoLinea">
                                                    <td>{{d.Fecha}}</td>
                                                    <td>{{d.Valor}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>