
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutIDA.cshtml";
}

<h2>Usuario</h2>

<head>
    <link href="~/Content/Usuario/Usuario.css" rel="stylesheet" />
    <script src="~/Scripts/Usuario/Usuario.js"></script>
</head>

<body>

    <div ng-app="MyApp" ng-controller="MyController">

        <div class="accordion" id="accordionExampleUno">
            <div class="card">
                <div class="card-header" id="headingUno">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseUno" aria-expanded="true" aria-controls="collapseUno">
                            <i class="fa fa-money-check-alt fa-lg"></i> Busqueda Usuarios
                        </button>
                    </h2>
                </div>

                <div id="collapseUno" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleUno">

                    <div id="BuscarUsuario" class="container">
                        <div class="row justify-content-md-center">

                            <form role="form" name="formulario" id="formulario" class="">

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="claveCampania">Login:</label>
                                    &nbsp;
                                    <div class="input-group-append">
                                        <input type="text" class="form-control" id="login" placeholder="Login" name="login"
                                               ng-model="LoginUsuario" required>
                                    </div>
                                </div>

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="campania">Nombre:</label>
                                    &nbsp;
                                    <div class="input-group-append">
                                        <input type="text" class="form-control text-uppercase" id="nombre" placeholder="Nombre" name="nombre"
                                               ng-model="NombreUsuario" required>
                                    </div>
                                </div>                               

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="alcance">Rol:</label>
                                    &nbsp;
                                    <div class="input-group-append">
                                        <select class="form-control" id="rolUsuario" ng-model="RolUsuario" ng-options="data.Alcance for data in ListTipoAlcance | orderBy:'ID'" required>
                                            <option value="">-- SELECCIONE --</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" ng-disabled="" title="Buscar Campaña por uno o varios filtros."
                                                ng-click="SearchCampana(Camp_Number, Nombre_Camp, TipoUrgente, TipoSell, TipoCampania, TipoAlcance)">
                                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>Buscar
                                        </button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br />

        <div class="accordion" id="accordionExampleDos">
            <div class="card">
                <div class="card-header" id="headingDos">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
                            <i class="fa fa-money-check-alt fa-lg"></i> Usuarios
                        </button>
                    </h2>
                </div>

                <div id="collapseDos" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleDos">

                    <div>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Usuario</th>
                                    <th>Rol</th>
                                </tr>
                            </thead>
                            <tbody ng-show="ListUsuario.length">
                                <tr ng-repeat="d in ListUsuario">
                                    <td>{{d.Nombre}}</td>
                                    <td>{{d.Login}}</td>
                                    <td>{{d.Rol}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
