
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutIDA.cshtml";
}

<h2>Usuario</h2>

<head>
    <link href="~/Content/Usuario/Usuario.css" rel="stylesheet" />
    <script src="~/Scripts/Usuario/Usuario.js"></script>
</head>

<body>

    <div ng-app="MyApp" ng-controller="MyController">

        <div class="accordion" id="accordionExampleUno">
            <div class="card">
                <div class="card-header" id="headingUno">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseUno" aria-expanded="true" aria-controls="collapseUno">
                            <i class="fa fa-money-check-alt fa-lg"></i> Busqueda Usuarios
                        </button>
                    </h2>
                </div>

                <div id="collapseUno" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleUno">

                    <div class="row justify-content-md-center">
                        <div class="input-group">
                            <label class="control-label" for="campana">Campaña:</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="input-group-append">
                                <input type="text" class="form-control text-uppercase" id="campana" placeholder="Campaña" name="campana"
                                       required>
                                <div class="input-group-append">
                                    <i class="fa fa-align-justify fa-lg input-group-text" aria-hidden="true"></i>
                                </div>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" ng-disabled="" ng-click="">
                                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>Buscar
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br />

        <div class="accordion" id="accordionExampleDos">
            <div class="card">
                <div class="card-header" id="headingDos">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
                            <i class="fa fa-money-check-alt fa-lg"></i> Usuarios
                        </button>
                    </h2>
                </div>

                <div id="collapseDos" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleDos">

                    <div>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Usuario</th>
                                    <th>Rol</th>
                                </tr>
                            </thead>
                            <tbody ng-show="ListUsuario.length">
                                <tr ng-repeat="d in ListUsuario">
                                    <td>{{d.Nombre}}</td>
                                    <td>{{d.Login}}</td>
                                    <td>{{d.Rol}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
