
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutIDA.cshtml";
}

<h2>Usuario</h2>

<head>
    <link href="~/Content/Usuario/Usuario.css" rel="stylesheet" />
    <script src="~/Scripts/Usuario/Usuario.js"></script>
</head>

<body>

    <div ng-app="MyApp" ng-controller="MyController">

        @*BUSCAR USUARIO*@
        <div class="accordion" id="accordionExampleUno">
            <div class="card">
                <div class="card-header" id="headingUno">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseUno" aria-expanded="true" aria-controls="collapseUno">
                            <i class="fa fa-money-check-alt fa-lg"></i> Busqueda Usuarios
                        </button>
                    </h2>
                </div>

                <div id="collapseUno" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleUno">

                    <div id="BuscarUsuario" class="container">
                        <div class="row justify-content-md-center">

                            <form role="form" name="formulario" id="formulario" class="">

                                <br />

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="claveCampania">Login:</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <input type="text" class="form-control" id="login" placeholder="Login" name="login"
                                               ng-model="LoginUsuario" required>
                                    </div>
                                </div>

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="campania">Nombre:</label>
                                    &nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <input type="text" class="form-control text-uppercase" id="nombre" placeholder="Nombre" name="nombre"
                                               ng-model="NombreUsuario" required>
                                    </div>
                                </div>                               

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="alcance">Rol:</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <select class="form-control" id="rolUsuario" ng-model="RolUsuario" ng-options="data as data.Rol for data in ListCatRol track by data.Id" required>
                                            <option value="">-- SELECCIONE --</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" title="Buscar Usuario"
                                                ng-click="">
                                            <i class="fa fa-search fa-lg" aria-hidden="true"></i> Buscar
                                        </button>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary botonAgregar" title="Agregar Usuario" data-toggle="modal" data-target="#myModalAdd" ng-click="MostrarAgregarUsuario()">
                                    <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Agregar
                                </button>

                                <br />
                                <br />

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br />

        @*INFORMACION USUARIO*@
        <div class="accordion" id="accordionExampleDos">
            <div class="card">
                <div class="card-header" id="headingDos">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
                            <i class="fa fa-money-check-alt fa-lg"></i> Usuarios
                        </button>
                    </h2>
                </div>

                <div id="collapseDos" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleDos">

                    <br />

                    <div>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Usuario</th>
                                    <th>Rol</th>
                                    <th>Estatus</th>
                                    <th>Editar</th>
                                    <th>Activar</th>
                                    <th>Inactivar</th>
                                </tr>
                            </thead>
                            <tbody ng-show="ListUsuario.length">
                                <tr ng-repeat="d in ListUsuario">
                                    <td>{{d.Nombre}}</td>
                                    <td>{{d.Login}}</td>
                                    <td>{{d.Rol}}</td>
                                    <td>{{d.StrEstatus}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd" ng-click="MostrarEditarUsuario(d)">
                                            <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDelete" ng-click="MostrarActivarUsuario(d)">
                                            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDelete" ng-click="MostrarInactivarUsuario(d)">
                                            <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <br />

        @*INFORMACION AGREGAR USUARIO*@
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="document" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    @*Encabezado Modal*@
                    <div class="modal-header">

                        <div class="navbar-header navbar-header-modal row">
                            <h5 id="modalTitle" class="modal-title">{{TituloAgregarEditar}}</h5>
                        </div>

                        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    @*Cuerpo Modal*@
                    <div class="modal-body row justify-content-md-center">
                        @*Formulario*@
                        <form class="form-horizontal">

                            <div class="form-group input-group">
                                <label class="control-label width-control" for="claveCampania">Usuario:</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="input-group-append">
                                    <input type="text" class="form-control" id="usuarioAdd" placeholder="Usuario" name="usuarioAdd"
                                           ng-model="UsuarioAgregar.Nombre" required>
                                </div>
                            </div>

                            <div class="form-group input-group">
                                <label class="control-label width-control" for="claveCampania">Password:</label>
                                &nbsp;&nbsp;
                                <div class="input-group-append">
                                    <input type="password" class="form-control" id="passwordAdd" placeholder="Password" name="passwordAdd"
                                           ng-model="UsuarioAgregar.Password" required>
                                </div>
                            </div>

                            <div class="form-group input-group">
                                <label class="control-label width-control" for="claveCampania">Rol:</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="input-group-append">
                                    <select class="form-control" id="rolUsuarioMod" ng-model="RolAgregar" ng-options="data as data.Rol for data in ListCatRol track by data.Id" required>
                                        <option value="">-- SELECCIONE --</option>
                                    </select>
                                </div>
                            </div>


                        </form>

                    </div>

                    @*Pie Modal*@
                    <div class="modal-footer div-centrar">

                        <div id="divSave" ng-show="EsGuardar">
                            <div class="form-group row">
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="GuardarUsuario(UsuarioAdd, PasswordAdd, RolAdd)">
                                        <i class="fa fa-save fa-lg" aria-hidden="true"></i> Guardar
                                    </button>
                                </div>
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="">
                                        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="divSave" ng-show="EsEditar">
                            <div class="form-group row">
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="EditarUsuario(UsuarioAdd, PasswordAdd, RolAdd)">
                                        <i class="fa fa-save fa-lg" aria-hidden="true"></i> Guardar
                                    </button>
                                </div>
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="">
                                        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        @*MODAL ALERTA ELIMINAR USUARIO*@
        <div class="modal fade" id="myModalDelete" tabindex="-1" role="document" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    @*Encabezado Modal*@
                    <div class="modal-header">
                        <div class="navbar-header navbar-header-modal row">
                            <h5 id="modalTitle" class="modal-title">Inactivar Usuario</h5>
                        </div>

                        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    @*Cuerpo Modal*@
                    <div class="modal-body">
                        @*Formulario*@
                        <form class="form-horizontal">
                            <input type="hidden" id="id_indicador" />

                            <div class="div-centrar alert alert-warning form-group input-group">
                                <i class="fa fa-exclamation-triangle fa-warning" aria-hidden="true" style="width:100px"></i>
                                <h5 class="input-group-append">{{TituloActivarInactivar}}</h5>
                            </div>

                        </form>
                    </div>

                    @*Pie Modal*@
                    <div class="modal-footer div-centrar">
                        <div id="divSave">
                            <div class="form-group row">
                                <div class="col-md-6 div-centrar">
                                    <button id="saveModal" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="EliminarUsuario(UsuarioEliminar)">
                                        <i class="fa fa-save fa-lg" aria-hidden="true"></i> Eliminar
                                    </button>
                                </div>
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="">
                                        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
